
body {
    margin: 0;
}
.header {
    min-height: 40px;
    background: #321011;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goods-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;

}

.cart-list {
    width: 40%;
    border: 1px solid #bdbdbd;
    margin: 20px 0 0 0;
    padding: 10px;
}

.cart-item {
    border: 1px solid #bdbdbd;
    width: 100%;
    padding: 10px;
    background-color: #d8ebd1;
    box-sizing: border-box;
    margin:0 0 20px 0;
}

.cart-item__delete {
margin: 20px 0 0 0;
}

.goods-item {
    width: 200px;
    background: #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
    min-height: 200px;
}

.good-items__total-price {
    font-weight: 600;
    font-size: 16px;
}
.bestseller {
    background: #ffbd88;
}
/* .goods-item:not(:last-child) {
    margin: 0 20px 0 0;
} */

.goods-item__img {
    margin: 5px;
    background: #fff;
    border: 1px solid #bdbdbd;
    min-height: 200px;
}
.goods-item__title {
    text-align: center;
}

.goods-item__price {
    text-align: right;
    font-weight: 700;
    color: #cc0605;

}
.goods-item__button {
    margin-left: auto;
    display: block;
}